.sidebar {
  background-color: darkblue;

  position: fixed;
  left: 0px;
  display: inline-flex;
  height: 902px;
  padding: 18px 0px 704px 0px;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;

  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
